.countDownContainer{
   display: flex;
   align-items: center;
   font-family: Rajdhani;
   font-weight: 600;
   color: var(--title);
}

.countDownContainer > div{
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: space-evenly;

   background: var(--white);
   box-shadow: 0 0 60x rgba(0, 0, 0, 0.85);
   border-radius: 5px;
   font-size: 8.5rem;
   text-align: center;

}

.countDownContainer > div span{
   flex: 1;

}


.countDownContainer > div span:first-child{
   border-right: 1px solid #f0f1f3;
}

.countDownContainer > div span:last-child{
   border-left: 1px solid #f0f1f3;
   
}

.countDownContainer > span{
   font-size: 6.25rem;
   margin: 0 0.25rem
}

.countDownButton{
   display: flex;
   align-items: center;
   justify-content:center;

   width: 100%;
   height: 5rem; 
   margin-top: 2rem;
   border: 0em;
   border-radius: 5px;
   background: var(--blue);
   color: var(--white);

   font-size: 1.25rem;
   font-weight: 600;

   transition: background-color 0.56s;
}

.countDownButton:hover{
   background-color: var(--blue-dark);
}

.countDownButtonActive{
   background: var(--white);
   color: var(--title);
}

.countDownButtonActive:hover{
   background: var(--red);
   color: #fff;
}

.testes1{
   display: flex;
   align-items: center;
   justify-content:baseline;
   text-align: center;
}

.testes1 > span{
  
   margin-left: 0.53rem;
   background-color: #d4c25d;
   color: #a70c80;
   height:100%;


   display: flex;
   align-items: center;
   justify-content:center;


   width: 30%;
   height: 5rem; 
   margin-top: 2rem;
   border: 0em;
   border-radius:25px;

   font-size: 1.25rem;
   font-weight: 600;

   transition: background-color 0.56s;
}

.testes1 > span:hover{
   background-color: #a77c06;
   color: 
}